---
http_interactions:
- request:
    method: get
    uri: http://assets.up-fluence.com/test.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 123
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://images.up-fluence.com/test.json
    body:
      encoding: US-ASCII
      string: ! '<html><head><title>301 Moved Permanently</title><script type=''text/javascript''>                     var
        _gaq = _gaq || [];                          _gaq.push([''_setAccount'', ''UA-41488471-3'']);                        _gaq.push([''_trackPageview'']);                    (function()
        {                       var ga = document.createElement(''script''); ga.type
        = ''text/javascript''; ga.async = true;                      ga.src = (''https:''
        == document.location.protocol ? ''https://ssl'' : ''http://www'') + ''.google-analytics.com/ga.js'';                      var
        s = document.getElementsByTagName(''script'')[0]; s.parentNode.insertBefore(ga,
        s);                    })();                  </script>                  </head>

        <body bgcolor="white">

        <center><h1>301 Moved Permanently</h1></center>

        <hr><center>nginx</center>

        </body>

        </html>'
  recorded_at: Tue, 03 Dec 2013 02:42:02 GMT
- request:
    method: get
    uri: http://images.up-fluence.com/test.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jul 2013 12:06:12 GMT
      Etag:
      - ! '"51f50934-11"'
    body:
      encoding: US-ASCII
      string: ! '{"foo" => "bar"}

'
  recorded_at: Tue, 03 Dec 2013 02:42:02 GMT
recorded_with: VCR 2.4.0
