---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 123
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://www.google.com/accounts/AuthSubRequest", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: US-ASCII
      string: ! '{"error":{"errors":[{"domain":"global","reason":"authError","message":"Invalid
        Credentials","locationType":"header","location":"Authorization"}],"code":401,"message":"Invalid
        Credentials"}}'
  recorded_at: Tue, 03 Dec 2013 02:42:03 GMT
recorded_with: VCR 2.4.0
